h1,h2,ul,li { margin:0; padding: 0;}

html {  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal
}

.nav-ul { list-style: none;
    display: flex;
    justify-content: space-evenly;}

.wrapper { 
    max-width: 800px;
    margin: auto;
    padding: 10px;
font-size: x-large;
text-align: center;
background-color: white;}


.main-header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    padding: 12px 12px 0px 0px;
    margin: auto;
text-align: center;
 font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.site-main { padding: 10px;}


html { background-color:beige;}

.main-nav { background-color: rgb(115, 57, 57);
padding: 30px;}

.list-style { color: aliceblue;
text-decoration: none;}


.hero { text-align: center;
background-image: url("Giving\ Back.webp");
min-height: 500px;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
border-top: 4px solid red;
border-bottom: 4px solid red;
letter-spacing: 4px;}


.h21 { text-align: center;
font-size: 30px;}





.hero2 { text-align: center;
background-image: url("Comunity\ is\ strenth.avif");
min-height: 500px;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
border-top: 4px solid red;
border-bottom: 4px solid red;
letter-spacing: 4px;}


.head-pad { padding: 20px;
text-align: center;
font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal}

.flex { display: flex;
background-color: rgb(115, 57, 57);
padding: 20px;
color: white;
text-align: center;border-radius: 10px;
}

.flex1 { display: flex;
background-color: rgb(115, 57, 57);
padding: 15px;
color: white;
text-align: center; 
justify-content: space-evenly;
list-style: none; font-size: x-large;
max-width: 900px;
align-items: center;
margin: auto;
border-radius: 10px;}


.home-flex { display: flex;
background-color:rgb(255, 252, 249);
padding: 20px;
justify-content:center;
text-align: center;}


.wrapper-2 { 
    max-width: 900px;
    align-items: center;
    margin:auto;
    text-align: center;
    background-color: azure;
    padding: 20px;
}



.hero3 { text-align: center;
background-image: url("non\ profit.avif");
min-height: 500px;
min-width: 500px;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
border-top: 4px solid red;
border-bottom: 4px solid red;
letter-spacing: 4px;}



.wrapper-3 {     max-width: 900px;
    align-items: center;
    margin:auto;
    text-align: center;
    background-color: azure;
    padding: 20px;
}


.sub-head { padding-bottom: 20px;}

.sub-list { 
    max-width:600px;
    background-color:  rgb(115, 57, 57); 
margin: auto;
border-radius: 10px;
padding: 20px;
color: white;
list-style: none;
text-align: center;}

.link-style { text-decoration:none;
color: white;
background-color:rgb(80, 37, 37);
padding: 5px;
}

.sub-list-2 {max-width:500px;
    background-color:  rgb(246, 246, 246); 
margin: auto;
border-radius: 10px;
padding: 20px;
list-style: none;
text-align: center; 
color: black;}

.h1-space { padding: 20px;}